# 2.Python语言基础

## 2.2 IPython基础

### 2.2.4 内省

In [2]:
#在一个变量后使用问号（？）以显示概要信息
b=[1,2,3]
b?

In [4]:
#对函数使用？显示文档字符串，使用？？显示源代码
def add(x,y):
    """得到和，            #三个双引号输出字符串换行不用\n转义符
    再返回"""
    sum=x+y
    return sum
add?

In [5]:
add??

## 2.3 Python语言基础

### 2.3.1 语言语义

#### 2.3.1.6 动态引用、强类型

In [6]:
#隐式的类型转换只在特定的情况下发生
5/2

2.5

In [7]:
#如果希望像C语言一样得到int类型，使用//
5//2

2

In [8]:
#使用isinstance判别类型,可以使用类型为对象的元组
a=5
isinstance(a, int)

True

In [9]:
isinstance(a, (int, float))

True

#### 2.3.1.10 二元运算符和比较运算

操作符|含义
--|--
a//b|a整除b
a**b|a的b次方
a^b|a异或b
a==b|a和b的值相等
a is b|a和b为同一个对象

### 2.3.2 标量类型

#### 2.3.2.2 字符串

In [28]:
c="""
this is a string that
spans mutiple rows
"""
#包含四行，三个换行符
c.count('\n')

3

In [29]:
#字符串不可变，你无法修改一个字符串
c[1]='q'

TypeError: 'str' object does not support item assignment

In [31]:
d=c.replace('string', 'longer string')
print(d)

this is a longer string that
spans mutiple rows

In [32]:
#反斜杠是一种转义符，字符串中写反斜杠需要将其转义
e='12\\34'
print(e)

12\34

In [33]:
#加前缀符号r以表示原生字符
f=r'this\is\no\special\character'
print(f)

this\is\no\special\character

In [34]:
#使用+连接两个字符串
e+' '+f

'12\\34 this\\is\\no\\special\\character'

In [35]:
#使用format字符串格式化
template='{0:.2f} {1:s} are worth US${2:d}' #格式分别为两位小数的浮点数，字符串，整数
template.format(4.566,'Argentine Pesos', 1)

'4.57 Argentine Pesos are worth US$1'

#### 2.3.2.7 日期和时间

In [36]:
from datetime import datetime,date,time
dt=datetime(2011,10,29,20,30,21)
dt.day,dt.hour, dt.minute

(29, 20, 30)

In [37]:
dt.date(),dt.time()

(datetime.date(2011, 10, 29), datetime.time(20, 30, 21))

In [38]:
#使用strftimw将时间转换成字符串
dt.strftime('%Y-%m-%d %H:%M:%S')

'2011-10-29 20:30:21'

In [39]:
#使用strptime将字符串转为时间
datetime.strptime('20111029','%Y%m%d')

datetime.datetime(2011, 10, 29, 0, 0)

类型|描述
--|--
%Y|四位年份
%y|两位年份
%m|两位月份
%d|两位天数
%H|24小时制小时
%h|12小时制小时
%M|分钟
%S|秒
%w|星期几
%F|2012-04-17格式
%D|04/17/12格式

In [40]:
#datetime不可变，使用replace替换生成新对象
dt.replace(minute=0,second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [42]:
#两datetime相减产生一个datetime.timedelta对象
dt2=datetime(2011,11,15,22,30)
delta=dt2-dt
delta,type(delta)

(datetime.timedelta(days=17, seconds=7179), datetime.timedelta)

In [45]:
#tiemedelta+datetime将产生一个新对象
delta+dt

datetime.datetime(2011, 11, 15, 22, 30)

In [46]:
#输出当前日期和时间
datetime.today()

datetime.datetime(2019, 5, 21, 20, 56, 30, 738727)

### 2.3.3 控制流

#### 2.3.3.1 if、elif、else

In [48]:
x=3
if x<0:
    print('Negative')
elif x==0:
    print('Equal to zero')
else:
    print('Positive')

Positive

In [49]:
#链式的比较也是可以的
5>4>3>2>1

True

#### 2.3.3.2 for循环

In [50]:
#使用continue进入下一次循环
seq=[1,None,3,None,5]
sum=0
for i in seq:
    if i==None:
        continue
    sum+=i
sum

9

In [51]:
#break只结束最内层的循环，外层的循环会继续执行
for i in range(4):
    for j in range(4):
        if i<j:
            break
        print(i,j)

0 0
1 0
1 1
2 0
2 1
2 2
3 0
3 1
3 2
3 3

#### 2.3.3.3 while循环

In [52]:
x=256
total=0
while x>0:
    if total>500:
        break
    total+=x
    x=x//2
total

504

#### 2.3.3.4 pass

pass表示什么也不做，作为还未实现的代码的占位符，保证编译成功

# 3 内建数据结构、函数和文件

## 3.1 数据结构和序列

### 3.1.1 元组

In [55]:
tup1=4,5,6
tup1

(4, 5, 6)

In [56]:
tup2=(2,3),tup1
tup2

((2, 3), (4, 5, 6))

In [58]:
tup3=tuple('string')
tup3

('s', 't', 'r', 'i', 'n', 'g')

In [61]:
tup3[0]

's'

In [63]:
#元组不可变
#如果元组内部对象是可变的，如列表，你可以在它内部修改
tup4='foo',[1,2,3],True
tup4[1][2]=4
tup4

('foo', [1, 2, 4], True)

In [64]:
#使用+生成更长的元组
tup4+tup3

('foo', [1, 2, 4], True, 's', 't', 'r', 'i', 'n', 'g')

In [65]:
#使用*生成更长的元组
tup4*2

('foo', [1, 2, 4], True, 'foo', [1, 2, 4], True)

#### 3.1.1.1 元组拆包

In [67]:
a,b=tup2
print(a)
print(b)

(2, 3)
(4, 5, 6)

In [68]:
a,b=b,a
print(a)
print(b)

(4, 5, 6)
(2, 3)

In [70]:
seq=[(1,2,3),(4,5,6),(7,8,9),(10,11,12)]
for a,b,c in seq:
    r='a={0},b={1},c={2}'.format(a,b,c)
    print(r)

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9
a=10,b=11,c=12

In [71]:
tup5=range(5)
p,q,*rest=tup5
rest

[2, 3, 4]

#### 3.1.1.2 元组方法

In [72]:
tup6=1,2,2,2,3,4,2
tup6.count(2)

4

### 3.1.2列表

#### 3.1.2.1 增加和移除元素

In [75]:
list1=['foo','peekaboo','baz']
list1.append('dwarf')
list1

['foo', 'peekaboo', 'baz', 'dwarf']

In [76]:
list1.insert(1,'red')
list1

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [77]:
list1.pop(2)
list1

['foo', 'red', 'baz', 'dwarf']

In [78]:
#remove会移除第一个符合要求的对象
list1.append('foo')
list1.remove('foo')
list1

['red', 'baz', 'dwarf', 'foo']

In [79]:
'dwarf' not in list1

False

#### 3.1.2.2 连接和联合列表

In [80]:
#使用+连接
list2=[7,8,(2,3)]
list1+list2

['red', 'baz', 'dwarf', 'foo', 7, 8, (2, 3)]

In [83]:
#使用extend连接并修改
list2.extend(list2)
list2

[7, 8, (2, 3), 7, 8, (2, 3)]

In [84]:
#使用*连接
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

#### 3.1.2.3 排序

In [85]:
a=[7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [89]:
#降序
a.sort(reverse=True)
a

[7, 5, 3, 2, 1]

In [90]:
#反转
a.reverse()
a

[1, 2, 3, 5, 7]

In [88]:
#根据不同关键字进行排序
b=['small','saw','He','foxes','six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### 3.1.2.4 二分搜索和已排序表的维护

In [92]:
#bisect寻找应当被插入的位置，多个相等值则是最后一位
#对未升序排列的列表不会报错，但结果可能不正确
import bisect
c=[1,2,2,2,3,4,4,7]
r1=bisect.bisect(c,2)
r2=bisect.bisect(c,4)
print(r1)
print(r2)

4
7

In [94]:
#insort插值
bisect.insort(c,2)
bisect.insort(c,4)
c

[1, 2, 2, 2, 2, 2, 3, 4, 4, 4, 4, 7]

### 3.1.3 内建序数函数

#### 3.1.3.1 enumerate

In [95]:
#enumerate返回（i,value)元组的序列
list2=['foo','bar','baz']
mapping={}
for i,v in enumerate(list2):
    mapping[i]=v
mapping

{0: 'foo', 1: 'bar', 2: 'baz'}

#### 3.1.3.2 sorted

In [96]:
sorted('horse race', reverse=True)

['s', 'r', 'r', 'o', 'h', 'e', 'e', 'c', 'a', ' ']

#### 3.1.3.3 zip

In [98]:
#zip将元组、列表或其他序列的元素配对，新建一个元组对象的列表
#zip是一个生成器
seq1=['foo','bar','baz']
seq2=['one','two','three']
zipped=zip(seq1,seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [99]:
for i,(a,b) in enumerate(zip(seq1,seq2)):
    output='{0}:{1},{2}'.format(i,a,b)
    print(output)

0:foo,one
1:bar,two
2:baz,three

In [103]:
e=[]
e.append('sdd')

In [104]:
e

['sdd']

In [105]:
list('add')

['a', 'd', 'd']

In [106]:
#序列内各对象的元素配对
pitchers=[('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Curt')]
firstname,lastname=zip(*pitchers)
print(firstname)
print(lastname)

('Nolan', 'Roger', 'Schilling')
('Ryan', 'Clemens', 'Curt')

In [107]:
#reversed将序列反转
#reversed是一个生成器，如果没有实例化，不会返回值
list(reversed(range(6)))

[5, 4, 3, 2, 1, 0]

### 3.1.4 字典

In [108]:
d1={'a':'somevalue','b':[1,2,3,4]}
d1

{'a': 'somevalue', 'b': [1, 2, 3, 4]}

In [109]:
d1[7]='an integer'
d1

{'a': 'somevalue', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [110]:
d1['b']

[1, 2, 3, 4]

In [111]:
'b' in d1

True

In [113]:
d1[5]='some value'
d1['dummy']='another value'
d1

{'a': 'somevalue',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [114]:
del d1[5]
d1

{'a': 'somevalue',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [115]:
d1.pop('dummy')

'another value'

In [116]:
d1

{'a': 'somevalue', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [117]:
d1.keys()

dict_keys(['a', 'b', 7])

In [118]:
d1.values()

dict_values(['somevalue', [1, 2, 3, 4], 'an integer'])

In [119]:
#update更新字典，有相同键则会覆盖原字典
d1.update({'b':'foo','c':122}
d1

{'a': 'somevalue', 'b': 'foo', 7: 'an integer', 'c': 122}

#### 3.1.4.1 从序列生成字典

In [121]:
mapping1={}
for a,b in zip(range(5),reversed(range(5))):
               mapping1[a]=b
mapping1

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [123]:
#字典接受一个两元素元组的序列作为参数
mapping2=dict(zip(range(5),reversed(range(5))))
mapping2

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### 3.1.4.2 默认值

In [125]:
key=['default',0,1]
for i in key:
    value=mapping2.get(i,'Not in it')
    print(value)

Not in it
4
3

In [1]:
words=['apple','bat','bar','atom','book']
byletter={}
for word in words:
    letter=word[0]
    if letter not in byletter:
        byletter[letter]=[word]
    else:
        byletter[letter].append(word)
byletter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [5]:
#字典里的getdefault就是为了这个目的产生的
byletter={}
for word in words:
    letter=word[0]
    byletter.setdefault(letter,[]).append(word)
byletter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [6]:
#s使用defaultdict(list)
from collections import defaultdict
byletter=defaultdict(list)
for word in words:
    byletter[word[0]].append(word)
byletter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### 3.1.4.3 有效的字典键类型

In [8]:
#尽管字典的值可以是任何对象
#但字典的键必须是不可变对象，比如标量类型，元组
#且元组内对象也必须是不可变对象
#通过hash判断能否哈希化
h1=hash('string')
h2=hash((1,2,(3,4)))
print(h1)
print(h2)

3237287834078235467
-2725224101759650258

In [9]:
hash((1,2,[3,4]))

TypeError: unhashable type: 'list'

### 3.1.5 集合

In [10]:
#使用set创建集合
set([1,2,2,2,3,3])

{1, 2, 3}

In [11]:
#使用大括号创建集合
{1,2,2,2,3,3}

{1, 2, 3}

In [1]:
a={1,2,3,4,5}

In [2]:
b={3,4,5,6,7,8}

In [3]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
a.intersection(b)

{3, 4, 5}

In [6]:
a&b

{3, 4, 5}

函数|替代|描述
------|--|--
a.add(x)|NA|
a.clear()|NA|重置为空
a.remove(x)|NA|移除某个元素
a.pop()|NA|移除任意元素
a.union(b)|a\|b|
a.update(b)|a\|=b|将a设置为并集
a.intersection(b)|a&b|
a.intersection_update(b)|a&=b|将b设置为交集
a.difference(b)|a-b|
a.difference_update(b)|a-=b|
a.symmetric_difference(b)|a^b|并集减去交集
a.symmetric_difference_update(b)|a^=b|
a.issubset(b)|NA|a是b的子集则返回True
a.issuperset(b)|NA|a包含b则返回True
a.isdisjoint(b)|NA|ab没有交集则返回True

In [7]:
c=a.copy()
c|=b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
a

{1, 2, 3, 4, 5}

In [9]:
#和字典类似，集合元素必须是不可变的。
#如果想要包含列表型的元素，必须转化为元组
mydata=[1,2,3,4]
myset={tuple(mydata)}
myset

{(1, 2, 3, 4)}

In [10]:
set(mydata)

{1, 2, 3, 4}

### 3.1.6 列表、集合和字典的推导式

In [11]:
#列表推导式过滤一个集中的元素，生成一个新的列表
strings=['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [12]:
#集合推导式
unique_length={len(x) for x in strings}
unique_length

{1, 2, 3, 4, 6}

In [13]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [14]:
#字典推导式
loc_mapping={val:index for index,val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [15]:
[1,1,1,12,2].count(1)

3

#### 3.1.6.1 嵌套列表推导式

In [16]:
alldata=[['John','Emily','Michael','Mary','Steve'],
          ['Maria','Juan','Javier','Natalia','Pilar']]

names_wanted=[name for names in alldata for name in names if name.count('e')>=2]

names_wanted

['Steve']

In [17]:
some_tuples=[(1,2,3),(4,5,6),(7,8,9)]

flattened=[x for tuple in some_tuples for x in tuple]

flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
[[x for x in tuple] for tuple  in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 3.2函数

In [19]:
def mf(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)

In [20]:
mf(1,1)

3.0

In [21]:
mf(1,1,2)

4

In [22]:
mf(1,1,-2)

-1.0

### 3.2.1 命名空间

In [24]:
#函数中定义的环境变量会被销毁
#但可以显示声明为全局变量
def a1():
    global fix
    fix=54
    return fix

a1()
fix

54

### 3.2.3 函数是对象

In [1]:
import re

def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()
        value=re.sub('[!#?]','',value)
        value=value.title()
        result.append(value)
    return result

states=['   Alabama', 'Georgial', 'georgial', 'FlOrIda',
        'south   carolina##', 'West virginia']

clean_strings(states)

['Alabama',
 'Georgial',
 'Georgial',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [4]:
import re

def remove_punctuation(value):
    return re.sub('[!#?]','',value)

clean_ops=[str.strip, remove_punctuation, str.title]

def clean_strings(strings):
    result=[]
    for value in strings:
        for function in clean_ops:
            value=function(value)
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgial',
 'Georgial',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [5]:
#可以将函数作为参数传给其他函数
#如map函数，可以将函数应用到序列上
[x for x in map(remove_punctuation, states)]

['   Alabama',
 'Georgial',
 'georgial',
 'FlOrIda',
 'south   carolina',
 'West virginia']

### 3.2.4 匿名（Lambda）函数

In [6]:
strings=['foo','card','bar','aaaa','abab']

strings.sort(key=lambda x: len(set(list(x))))

strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### 3.2.6 生成器

In [8]:
def squares(n=10):
    for i in range(1,n+1):
        yield i**2
        
gen=squares()    
for x in gen:
    print(x, end='  ')

1  4  9  16  25  36  49  64  81  100

#### 3.2.6.1 生成器表达式

In [9]:
#用生成器表达式创建生成器
gen=(x**2 for x in range(1,11))

sum(gen)

385

In [10]:
dict((i,i**2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### 3.2.6.2 itertools模块

In [12]:
import itertools

first_letter=lambda x:x[0]

allnames=['Alan','Adam','Wes','Will','Albert','Steven']

for key,names in itertools.groupby(allnames, first_letter):
    print(key, list(names))  #names是一个迭代器

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [14]:
[x for x in itertools.combinations([1,2,3,4,5],3)]

[(1, 2, 3),
 (1, 2, 4),
 (1, 2, 5),
 (1, 3, 4),
 (1, 3, 5),
 (1, 4, 5),
 (2, 3, 4),
 (2, 3, 5),
 (2, 4, 5),
 (3, 4, 5)]

In [15]:
[x for x in itertools.combinations_with_replacement([1,2,3,4,5],3)]

[(1, 1, 1),
 (1, 1, 2),
 (1, 1, 3),
 (1, 1, 4),
 (1, 1, 5),
 (1, 2, 2),
 (1, 2, 3),
 (1, 2, 4),
 (1, 2, 5),
 (1, 3, 3),
 (1, 3, 4),
 (1, 3, 5),
 (1, 4, 4),
 (1, 4, 5),
 (1, 5, 5),
 (2, 2, 2),
 (2, 2, 3),
 (2, 2, 4),
 (2, 2, 5),
 (2, 3, 3),
 (2, 3, 4),
 (2, 3, 5),
 (2, 4, 4),
 (2, 4, 5),
 (2, 5, 5),
 (3, 3, 3),
 (3, 3, 4),
 (3, 3, 5),
 (3, 4, 4),
 (3, 4, 5),
 (3, 5, 5),
 (4, 4, 4),
 (4, 4, 5),
 (4, 5, 5),
 (5, 5, 5)]

In [16]:
[x for x in itertools.permutations([1,2,3,4],2)]

[(1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 3),
 (2, 4),
 (3, 1),
 (3, 2),
 (3, 4),
 (4, 1),
 (4, 2),
 (4, 3)]

In [153]:
list_1=[['A','B','C'],[1,2,3],['是','否']]

[x for x in itertools.product(*list_1,repeat=1)]

[('A', 1, '是'),
 ('A', 1, '否'),
 ('A', 2, '是'),
 ('A', 2, '否'),
 ('A', 3, '是'),
 ('A', 3, '否'),
 ('B', 1, '是'),
 ('B', 1, '否'),
 ('B', 2, '是'),
 ('B', 2, '否'),
 ('B', 3, '是'),
 ('B', 3, '否'),
 ('C', 1, '是'),
 ('C', 1, '否'),
 ('C', 2, '是'),
 ('C', 2, '否'),
 ('C', 3, '是'),
 ('C', 3, '否')]

### 3.2.7 错误和异常处理

In [21]:
#使用try/except是出现错误时返回值

def attempt_float(x):
    try:
        return float(x)
    except:
        return x

attempt_float('1.23')

1.23

In [22]:
attempt_float('one')

'one'

In [24]:
#只处理ValueError而不处理TypeError

def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

attempt_float('1.23')

1.23

In [25]:
attempt_float('one')

'one'

In [26]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [27]:
#使用finally在代码不论成功与否的情况下都会执行finally下的语句

#使用else只在代码成功通过是会执行

def attempt_float(x):
    try:
        g=float(x)
    except ValueError:
        return x
    else:
        return print('Success\n',g)

attempt_float('1.23')

Success
 1.23

In [28]:
str='1.23'

try:
    g=float(str)
except:
    print('Error')
else:
    print('Success\n',g)

Success
 1.23